@import "../../node_modules/normalize-scss/sass/normalize/import-now";

$background: #26408B;
$backHover: rgba(#0f084b, 0.35);
$primary: #E5EAFA;
$secondary: #001F54;
$hover: #034078;
$border: #1282A2;
$btnBackground: rgba(#0f084b, 0.55);
$btnHover: rgba(#0f084b, 0.35);
