#order-confirmation-pg {
    width: 100vw;
    display: flex;
    float: left;
    margin: 3% 0;
    .confirm-order {
        width: 70vw;
    }
    .order-form {}
    input {
        width: 100vw;
        border: none;
        padding: 2%;
    }
}
textarea {
    width: 100%;
    padding: 2%;
    border: none;
}
.orderform-btns {
    display: flex;
    justify-content: center;
}
button {
    width: 30%;
    color: $primary;
    background: $btnBackground;
    border: none;
    padding: 3%;
    margin: 0 1%;
    font-size: 1.2em;
    &:hover {
        background: $btnHover;
    }
}

.confirmation-view {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  // margin-right: 2%;
  h4 {
    margin: 0;
    text-align: center;
  }
  ul {
    margin-top: 5%;
  }
  li {
    font-weight: 200;
    border-bottom: 2px dotted $primary;
    margin: 0 10%;
    margin-top: 1%;
    display: flex;
  }
  .trashIcon {
    margin: 0 1%;
    font-size: 1.2em;
}
  h5 {
    margin: 0;
    display: flex;
    width: 95%;
  }
  data {
    display: flex;
    justify-content: flex-end;
  }
  .order-totals {
    text-align: right;
    margin-right: 10%;
  }
}
