@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "_variables.scss";
@import "login.scss";
@import "menu.scss";
@import "orderForm.scss";
@import "order-SideOrder.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  background: $background;
  color: $primary;
}

.appContainer {
  position: relative;
  &::after {
    display: block;
    content: ' ';
    clear: both;
  }
}
