header {
    margin: 0;
    .login-section {
        display: flex;
        margin: 1%;
        h2 {
            margin: 0;
            flex: 75;
            font-size: 3em;
        }
        .login-btn {
            flex: 25;
            border: none;
            background: $btnBackground;
            color: $primary;
            &:hover {
                background: $btnHover;
            }
        }
    }
    .logo-section {
        background: url('https://dl.dropboxusercontent.com/u/19411356/day24/hipster.jpeg');
        background-size: cover;
        height: 70vh;
        background-position-y: 20%;
        background-repeat: no-repeat;
        &:hover {
          color: $btnBackground;
        }
    }
}
h1 {
    margin-left: 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-weight: 300;
    font-size: 3.5em;
    position: absolute;
    bottom: 6em;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
ul.nav {
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 3% 0;
    li {
        margin: 0 1em;
        align-items: center;
        &:hover {
            color: $background-lite;
        }
    }
}
.ul-sub-nav {
    display: flex;
    text-align: center;
    font-size: 1.1em;
    border-bottom: solid 1px;
    li {
        align-self: center;
        padding: 0 1em;
        flex: 25;
        &:hover {
            color: $background-lite;
        }
    }
}
main {
    margin-top: 3%;
    width: 60%;
    margin: 0 auto;
    float: left;
    h2 {
        margin: 0 0 0 1em;
        text-align: center;
    }
}
#aside-order {
  display: inline-flex;
  bottom: 50em;
  left: 25em;
}
#menu-list {
    background: $background-lite;
    // width: 60%;
    // margin: 0 auto;
    border-radius: 2px;
    li {
        margin: 0;
        padding: 2%;
        &:hover {
            color: $btnBackground;
            font-weight: bolder;
            p {
                color: $primary;
                font-weight: normal;
            }
        }
        h3 {
            display: inline-flex;
            margin: 0 0 0 1%;
            font-weight: 300;
            width: 50%;
        }
        data {
            display: inline-flex;
            justify-content: flex-end;
            width: 45%;
        }
        p {
            display: block;
            margin: 0 0 0 2%;
            font-style: italic;
            align-self: flex-start;
        }
    }
}
