header {
    margin: 0;
    .login-section {
        display: flex;
        margin: 1%;
        h2 {
            margin: 0;
            flex: 75;
            font-size: 3em;
        }
        .login-btn {
            flex: 25;
            border: none;
            background: $btnBackground;
            color: $primary;
            &:hover {
                background: $btnHover;
            }
        }
    }
    .logo-section {
        background: url('https://dl.dropboxusercontent.com/u/19411356/day24/outdoorCafe.jpeg');
        background-size: cover;
        height: 70vh;
        background-position-y: 20%;
        background-repeat: no-repeat;
    }
}
h1 {
    margin-left: 1rem;
    width: 90%;
    display: inline-flex;
    justify-content: center;
    font-weight: 300;
    font-size: 3.5em;
    position: absolute;
    top: 5em;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
ul.nav {
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 3% 0;
    li {
        margin: 0 1em;
        align-items: center;
        &:hover {
            color: $background-lite;
        }
    }
}
.ul-sub-nav {
    display: flex;
    text-align: center;
    font-size: 1.1em;
    border-bottom: solid 1px;
    li {
        align-self: center;
        padding: 0 1em;
        flex: 25;
        &:hover {
            color: $background-lite;
            opacity: .7;
        }
    }
}
main {
    margin: 0 auto;
    margin-top: 3%;
    h2 {
        margin: 0 0 0 1em;
        text-align: center;
    }
}

#menu-main {
  float: left;
  width: 60%;
}
.side-order {
  width: 35%;
  float: right;
  margin-top: 5%;
  margin-right: 2%;
  font-size: 1.1em;
  h4 {
    margin: 0;
    font-size: 1.2em;
  }
  li {
    font-weight: 200;
    border-bottom: 2px dotted $primary;
    margin: 10% 0;
  }
  h5 {
    margin: 0;
    display: inline-flex;
    width: 90%;
  }
  data {
    display: inline-flex;
    justify-content: flex-end;
  }
  #orderBtn {
    width: 100%;
  }

}

#menu-list {
    background: $background-lite;
    border-radius: 2px;
    li {
        margin: 0;
        padding: 2%;
        &:hover {
            color: $btnBackground;
            font-weight: bolder;
            p {
                color: $primary;
                font-weight: normal;
            }
        }
        h3 {
            display: inline-flex;
            margin: 0 0 0 1%;
            font-weight: 300;
            width: 50%;
        }
        data {
            display: inline-flex;
            justify-content: flex-end;
            width: 45%;
        }
        p {
            display: block;
            margin: 0 0 0 2%;
            font-style: italic;
            align-self: flex-start;
        }
    }
}
